extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
  +alert-success()
  +alert-error()
  .container.my-3
    .row
      .col-12
        h1(class="text-center text-center-noneBoot") ĐẶT HÀNH THÀNH CÔNG
    .row
    if(order)
      .row
        .col-12
          h5(class="mb-2") Thông tin cá nhân
          table(class="table table-borderless")
            tbody
              tr
                td Họ tên
                td
                  b #{order.userInfo.fullName}
              tr
                td Số điện thoại
                td
                  b #{order.userInfo.phone}
              tr
                td Địa chỉ
                td
                  b #{order.userInfo.address}
      .row
        .col-12
          h4(class="mb-2") Thông tin đơn hàng
          table(class="table table-bordered")
            thead
              tr
                th Ảnh
                th Tên
                th Giá
                th Số lượng
                th Tổng tiền
            tbody
              if(order.products.length > 0)
                each item, index in order.products
                  tr
                   
                    td
                      img(
                        src=item.thumbnail
                        alt=item.title
                        width="80px"
                      )
                    td #{item.title}
                    td #{currency(item.price, {symbol: "",separator: ',', decimal: ',', precision: 3}).format()}₫
                    td #{item.quantity}
                    td #{currency(item.totalPrice, {symbol: "",separator: ',', decimal: ',', precision: 3}).format()}₫
          if(order.products.length > 0)
            h3(class="text-right") Tổng đơn hàng: #{currency(order.totalPrice, {symbol: "",separator: ',', decimal: ',', precision: 3}).format()}₫