footera.footer-container
  .footer-column
    img(src='./client/images/logo2.png' alt='Logo' width="130px")
    p <i class="fa fa-home"></i> #{generalSetting.address}
    p <i class="fa fa-phone" aria-hidden="true"></i> #{generalSetting.phone}
    p <i class="fa fa-envelope" aria-hidden="true"></i> #{generalSetting.email}
  .footer-column
    div(class="text-title-footer") THÔNG TIN
    a(href='#') CFP Project
    a(href='#') D&#x1EF1; &Aacute;n
    a(href='#') Tin t&#x1EE9;c
    a(href='#') Gi&#x1EDB;i thi&#x1EC7;u
  .footer-column
    div(class="text-title-footer") HỖ TRỢ KHÁCH HÀNG
    a(href='#') H&#x1B0;&#x1EDB;ng d&#x1EAB;n mua h&agrave;ng
    a(href='#') H&#x1B0;&#x1EDB;ng d&#x1EAB;n thanh to&aacute;n
    a(href='#') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
    a(href='#') Ch&iacute;nh s&aacute;ch &dstrok;&#x1ED5;i tr&#x1EA3;
  
  .footer-column.social-icons
    div(class="text-title-footer social") CHÚNG TÔI TRÊN MẠNG XÃ HỘI
    div(class="d-flex social-icons")
      a(href=generalSetting.faceBook, target="_blank") 
        i.fa-brands.fa-square-facebook
      a(href=generalSetting.tikTok, target="blank") 
        i.fa-brands.fa-tiktok
.footer 
  | Copyright 2024 MPQ