include ../mixins/sub-menu.pug
header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/client/images/logo.svg", alt="Logo")
      .col-3
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              a(href="/products") Sản phẩm
              +sub-menu(layoutProductCategory)
      .col-4
          form(
          action="/search"
          method="GET"
        ) 
          div(class="position-relative form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Bạn đang tìm sản phẩm nào?"
              class="form-control input-find search-input-toggle hide"
              name="keyword"
              value=keyword
            )
            div(class="right-0")
              button(
                type="submit"
                class="position-absolute submit-button-header search-button-toggle hide"
              ) <i class="fa-solid fa-magnifying-glass"></i>
      .col-2
        div(class="box-search")
          div(class="d-flex search-header")
            span Tìm kiếm
            <i class="fa-solid fa-magnifying-glass"></i>
          span(class="underline-search")