extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main 
  +alert-success(5000)
  +alert-error(5000)
  .container.my-3
    .row
      .col-12.text-center
        h1(class="text-center-noneBoot") TẤT CẢ SẢN PHẨM
    .row
      each item in products
        .col-3.mb-3
          .product-item
            .inner-image
              a(href=`/products/detail/${item.slug}`) 
                img(src=item.thumbnail, alt=item.title)
            .inner-content
              h3.inner-title 
                a(href=`products/detail/${item.slug}` class="under-general") #{item.title}
              .inner-price
                if(item.discountPercentage != 0)
                  .inner-price-new #{currency(item.newPrice, {symbol: "",separator: ',', decimal: ',', precision: 3}).format()}₫
                  .inner-price-old #{currency(item.price, {symbol: "",separator: ',', decimal: ',', precision: 3}).format()}₫
                else 
                  | #{currency(item.price, {symbol: "",separator: ',', decimal: ',', precision: 3}).format()}₫
              if(item.discountPercentage != 0)
                .inner-discount #{item.discountPercentage}%