extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    +alert-error(5000)
    h1(class="mb-4") Trang chỉnh sửa nhóm quyền
    form(
        action=`/${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
            type="text"
            class="form-control"
            id="title"
            name="title"
            value=role.title
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
            type="text"
            class="form-control"
            id="desc"
            name="description"
            rows="5"
            textarea-mce
        ) #{role.description}
      div(class="form-group")
        button(
            type="submit"
            class="btn btn-primary"
        ) Cập nhật