extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert-success(5000)
  +alert-error(5000)
  if(role.permissions.includes("roles_view"))
    h1(class="mb-4") Nhóm quyền
    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right
            if(role.permissions.includes("roles_create"))
              a(
                href=`/${prefixAdmin}/roles/create`
                class="btn btn-outline-success"
              ) + Thêm mới

        table(class=" table table-hover")
          thead
              tr 
                  th STT
                  th Tiêu đề
                  th Mô tả ngắn 
                  th hành động
          tbody
              each item, index in records
                  tr 
                      td #{index + 1}
                      td #{item.title}
                      td !{item.description}
                      td 
                          if(role.permissions.includes("roles_edit"))
                            a(
                                href=`/${prefixAdmin}/roles/edit/${item.id}`
                                class="btn btn-warning btn-sm mr-1"
                                ) Sửa
                          if(role.permissions.includes("roles_delete"))
                            button(
                                btn-delete-role
                                data-id= item.id
                                class="btn btn-danger btn-sm mr-1"
                                ) Xóa
                          a(
                              href=`/${prefixAdmin}/roles/detail/${item.id}`
                              class="btn btn-info btn-sm mr-1"
                              ) Chi tiết
  else 
    h1 Bạn không có quyền truy cập
  form(
    form-delete-role
    action=""
    data-path=`${prefixAdmin}/roles/delete`
    method="POST"
  ) 
