extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main
  +alert-error()
  .container.my-5
    .row.justify-content-center
      .col-4
        h1(class="text-center text-center-noneBoot") Đổi mật khẩu
        form(
          formConfirmPassword
          action="/user/password/reset"
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu mới
            input(
              currentValuePassword
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            label(for="confirmPassword") Xác nhận mật khẩu
            input(
              newValuePassword
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              required
            )
          div(class="form-group")
            button(
              confirmPassword
              type="submit"
              class="btn add-product btn-block"
            ) Đổi mật khẩu