extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main
  h1 Cài đặt chung
  +alert-error()
  +alert-success()
  form(
    action=`/${prefixAdmin}/settings/general?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="websiteName") Tên website
      input(
        type="text"
        class="form-control"
        id="websiteName"
        name="websiteName"
        value=(generalSetting ? generalSetting.websiteName : "")
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="logo") Logo
      input(
        type="file"
        class="form-control-file"
        id="logo"
        name="logo"
        accept="image/*"
        upload-image-input
      )
      img(
        class="image-preview"
        upload-image-preview
        src=(generalSetting ? generalSetting.logo : "")
      )
    label(for="slideshow") SlideShow
    .slide-show.d-flex
      each img, index in generalSetting.slideshow
        div(class="form-group")
          label(for=`slideshow${index}`) Slideshow-#{index + 1}
          input(
            type="file"
            class="form-control-file"
            id=`slideshow${index}`
            name=`slideshow${index + 1}`
            accept="image/*"
            upload-image-input
          )
          img(
            class="image-preview"
            upload-image-preview
            src=img
          )
    div(class="form-group")
      label(for="email") Email
      input(
        type="email"
        class="form-control"
        id="email"
        name="email"
        value=(generalSetting ? generalSetting.email : "")
      )
    
    div(class="form-group")
      label(for="address") Địa chỉ
      input(
        type="text"
        class="form-control"
        id="address"
        name="address"
        value=(generalSetting ? generalSetting.address : "")
      )
    div(class="form-group")
      label(for="faceBook") Facebook
      input(
        type="text"
        class="form-control"
        id="faceBook"
        name="faceBook"
        value=(generalSetting ? generalSetting.faceBook : "")
      )
    div(class="form-group")
      label(for="tikTok") Tiktok
      input(
        type="text"
        class="form-control"
        id="tikTok"
        name="tikTok"
        value=(generalSetting ? generalSetting.tikTok : "")
      )
    div(class="form-group")
      label(for="gitHub") Github
      input(
        type="text"
        class="form-control"
        id="gitHub"
        name="gitHub"
        value=(generalSetting ? generalSetting.gitHub : "")
      )
    div(class="form-group")
      label(for="copyright") Copyright
      input(
        type="text"
        class="form-control"
        id="copyright"
        name="copyright"
        value=(generalSetting ? generalSetting.copyright : "")
      )
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật